@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Grand+Hotel&family=PT+Sans&family=Playfair+Display:wght@400;700&display=swap');


/* Header  */

.header_top_line {
    height: 45px;
    background-color: #bb2528;

}
.header_top_line ul {
    
}

.header_top_line ul li{
    list-style-type: none;
    display: inline-block;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.header_top_line ul li a{
    color: #ffffff;
    text-decoration: none;
}

.header_bottom_line{
    background-color: #ffffff;
}
.header_bottom_line img{
    width: 96px;
    height: 70px;
}

.header_bottom_line  nav ul li{
    list-style-type: none;
    
}
.header_bottom_line  nav ul li a{
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: #bb2528;
}
.fa{
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-style: solid ;
}

.fa-facebook {
  background: #ffffff;
  color: #bb2528;
}

.fa-instagram {
  background: #ffffff;
  color: #bb2528;
}

.fa-youtube {
  background: #ffffff;
  color: #bb2528;
}

/* First section */

.first_section{
    background-image: url(../img/bgi_main.png);
}
.first_section_block{
    background-color: #ffffff;
    width: 570px;
    height: 400px;

}
.first_section_block span{
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: #bb2528;
}

.first_section_block h2{
    font-family: 'Playfair Display', serif;
    font-size: 56px;
    font-weight: 700;
    color: #232323;
}
.first_section_block img{
    height: 32px;
    width: 470;
}

.first_section_block p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #4f4f4f;
}

.fs_buttom_shop{
     width: 90px;
     height: 40px;
     background-color: #bb2528;
     font-family: 'Fira Sans', sans-serif;
     font-size: 12px;
     font-weight: 700;
     color: #ffffff;
}

.fs_buttom_lm{
     width: 125px;
     height: 40px;
     background-color: #ffffff;
     font-family: 'Fira Sans', sans-serif;
     font-size: 12px;
     font-weight: 700;
     color: #232323;
     border-style: solid;

}

/* Terms of purchase */

.terms_section{
    background-color: #ffffff;
}

.term_article{
     background-color: #ffffff;
     width: 270px;
     height: 230px;
}

.term_article img{
    width: 50px;
    height: 50px;
    background-color: #f9f4ee;
}

.term_article h3{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #232323;
    font-weight: 400;
}
.underscore{
    width: 32px;
    height: 3px;
    background-color: #bb2528;
}

.term_article p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: #737373;
}
 
/* Special proposals */
.special_proposals{
    background-color: #ffffff;

}

.first_sp{
    background-image: url(../img/bgi_2.png);
    background-size: cover;
    width: 570px;
    height: 325px;
}

.first_sp span{
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: #ffffff;
}
.first_sp h2{
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    color: #ffffff;
}

.first_sp button{
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    width: 175px;
    height: 55px;
    border-style: solid;
    border-color: #ffffff;
    background-color: transparent;

}

.second_sp{
    background-image: url(../img/bgi_1.png);
    background-size: cover;
    width: 570px;
    height: 325px;
}

.second_sp span{
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: #ffffff;
}
.second_sp h2{
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    color: #ffffff;
}

.second_sp button{
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    width: 175px;
    height: 55px;
    border-style: solid;
    border-color: #ffffff;
    background-color: transparent;

}

/* Best choise section */

.best_choise_head span{
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: #bb2528;
}
.best_choise_head h2{
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    color: #232323;

}
.best_choise_head img{
    width: 70px;
    height: 32px;
}
.best_choise_head p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #4f4f4f;
}

.product_article{
    width: 265px;
    height: 450px;
    border-style: solid;
    border-color: #f9f4ee;
}

.product_img{
    width: 225px;
    height: 225px;
}

.product_name a{
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #737373;
    text-decoration: none;
    font-weight: 400;
}

.product_price{
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #bb2528;
    font-weight: 700;
}

.produtc_btn{
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #bb2528;
    width: 125px;
    height: 45px;
    border-style: solid;
    border-color: #bb2528;
    background-color: transparent;

}

/* About us section */
.about_us{
    background-color: #f9f4ee;

}

.about_us_text span{
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: #bb2528;

}

.about_us_text h2{
    font-family: 'Playfair Display', serif;
    font-size: 56px;
    color: #232323;

}

.about_us_text img{
    height: 32px;
    width: 120px;
}

.about_us_text p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #4f4f4f;
}

.slide_gallery{
    width: 145px;
    height: 135px;
}

/* Testimonials section */
.testimonials{

}

.testimonials_head{

}

.testimonials_head span{
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: #bb2528;
}

.testimonials_head h2{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: #232323;
}

.testimonials_head p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #4f4f4f;
}

.testimonials_article{
    width: 585px;
    height: 550px;
    background-color: #ffffff;

}

.testimonials_article img{
    width: 555px;
    height: 355px;
}

.testimonials_article h3{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #bb2528;
}

.testimonials_article p{
   font-family: 'Fira Sans', sans-serif;
   font-size: 16px;
   color: #737373;
}

.testimonials_article em{
   font-family: 'PT Sans', sans-serif;
   font-size: 14px;
   color: #4f4f4f;
}

.testimonials_underscore{
    width: 45px;
    height: 3px;
    background-color: #f9f4ee;
}

/* Special offer section */
.special_offer{
    background-image: url(../img/bgi_3.png);
}

.special_offer_text{
    width: 570px;
    height: 510px;
    background-color: #ffffff;
    
}

.special_offer_text span{
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: #bb2528;
}

.special_offer_text h2{
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    color: #232323;
}

.special_offer_text img{
    width: 100px;
    height: 32px;
}

.special_offer_text p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #4f4f4f;
}

.so_buttom_cu{
    width: 125px;
    height: 40px;
    background-color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #232323;
    border-style: solid;
    text-decoration: none;
}
/* Shop section */
.shop_head{
    background-color: #ffffff;
}

.shop_head span{
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: #bb2528;
}

.shop_head h3{
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    color: #232323;

}

.shop_head img{
    width: 100px;
    height: 32px;
}
.shop_head p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #4f4f4f;
}


.shop_title_btn{
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #4f4f4f;
    border: none;
    background-color: transparent;
}

/* About decoration section */