@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Grand+Hotel&family=PT+Sans&family=Playfair+Display:wght@400;700&display=swap');


/* About us section */

.aboutus_title{
    background-image: url(../img/about_us.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 450px;
}



.about_us_tc {
    background-color: hsl(33, 48%, 95%);
    padding: 25px;

}

.about_us_text span {
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: hsl(359, 67%, 44%);

}

.about_us_text h2 {
    font-family: 'Playfair Display', serif;
    font-size: 56px;
    color: hsl(0, 0%, 14%);

}

.about_us_text img {
    height: 32px;
    width: 120px;
}

.about_us_text p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: 	hsl(0, 0%, 31%);
}

.slide_gallery {
    width: 145px;
    height: 135px;
}

.aboutus_carousel{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.carousel .aboutus_carousel img{
    width: 100%;
}

@media (min-width: 761px){
    #about_us{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .aboutus_title{
        height: 100%;
    }

    .carousel .aboutus_carousel img{
        width: 55%;
    }



}

@media (min-width: 990px){
    .carousel .aboutus_carousel img{
        width: 30%;
    }
}
