@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Grand+Hotel&family=PT+Sans&family=Playfair+Display:wght@400;700&display=swap');



#faq {
    padding: 25px;
}


.faq_head span {
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: hsl(359, 67%, 44%);

}


.faq_head h2 {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    color: hsl(0, 0%, 14%);
       
}




.faq_head img {
    width: 100px;
    height: 32px;
}

.faq_head p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: hsl(0, 0%, 31%);
}


.accordion_section{
    margin-top: 35px;
}

.accordion_cont{
    border-bottom: 1px solid   hsl(0, 0%, 65%);
}



.accordion {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: hsl(0, 0%, 31%);
    cursor: pointer;
    outline: none;
    transition: 0.4s;
    border: none;
    width: 100%;
    margin-top: 15px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
    
  }

  
  .accordion:after {
    content: '\002B';
    font-size: 20px;
    font-weight: bold;
    margin-left: 75px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: hsl(0, 0%, 31%) ;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-top: 15px;
    margin-bottom: 15px;
  }

@media (min-width: 761px){
    .accordion_section{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
        
    }
}


@media (min-width: 990px){

}
