@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Grand+Hotel&family=PT+Sans&family=Playfair+Display:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 990px;
    margin: auto;
}



/* Header  */

.header_top_line {
    height: 45px;
    background-color: hsl(359, 67%, 44%);
    display: none;
}

.header_bottom_line {
    background-color: 	hsl(0, 0%, 100%);
    padding: 25px;
    
}

.header_bottom_line img{
    width: 96px;
    height: 70px;
    
 }

 .header_nav {
     display: none;
 }


/* First section */

.first_section{
    background-image: url(../img/bgi_main.png);
    background-size: cover;
    background-position: center;
    padding: 110px 25px ;
}
.first_section_block {
    background-color: 	hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.first_section_block span{
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: hsl(359, 67%, 44%);
}

.first_section_block h2 {
    font-family: 'Playfair Display', serif;
    font-size: 52px;
    font-weight: 700;
    color: hsl(0, 0%, 14%);
}
.first_section_block img {
    height: 32px;
    width: 150px;
}

.first_section_block p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: 	hsl(0, 0%, 31%);
}


.fs_buttom_shop {
     width: 90px;
     height: 40px;
     background-color: hsl(359, 67%, 44%);
     font-family: 'Fira Sans', sans-serif;
     font-size: 12px;
     font-weight: 700;
     color: hsl(0, 0%, 100%);
     margin: 10px;
}

.fs_buttom_shop:hover {
    width: 90px;
    height: 40px;
    background-color: hsl(0, 0%, 14%);
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin: 10px;
}

.fs_buttom_lm {
     width: 125px;
     height: 40px;
     background-color: 	hsl(0, 0%, 100%);
     font-family: 'Fira Sans', sans-serif;
     font-size: 12px;
     font-weight: 700;
     color: hsl(0, 0%, 14%);
     border-style: solid;
     margin: 10px;
}
.fs_buttom_lm:hover {
    width: 125px;
    height: 40px;
    background-color: hsl(0, 0%, 14%);
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    border-style: solid;
    margin: 10px;
}



/* Terms of purchase */

.terms_section {
    background-color: 	hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    margin: 35px 25px;
}

.term_article {
     background-color: 	hsl(0, 0%, 100%);
     width: 95%;
     margin: 15px 0px;
}

.term_article img {
    width: 60px;
    height: 60px;
    background-color: hsl(33, 48%, 95%);
    padding: 25px;
    border-radius: 50%;
}

.term_article h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: hsl(0, 0%, 14%);
    font-weight: 400;
}
.underscore {
    width: 15%;
    height: 3px;
    background-color: hsl(359, 67%, 44%);
    margin: 10px 0px;
}

.term_article p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: hsl(0, 0%, 45%);
}
 
/* Special proposals */
.special_proposals {
    background-color: 	hsl(0, 0%, 100%);
    display: grid;
    grid-gap: 15px;
    grid-template-rows: 1fr 1fr;
    margin: 35px 25px;
}

.first_sp {
    background-image: url(../img/bgi_2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.first_sp span { 
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: 	hsl(0, 0%, 100%);
}
.first_sp h2 {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    color: 	hsl(0, 0%, 100%);
}

.first_sp button {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: 	hsl(0, 0%, 100%);
    width: 175px;
    height: 55px;
    border-style: solid;
    border-color: 	hsl(0, 0%, 100%);
    background-color: transparent;
    margin: 15px 0px;
}

.first_sp button:hover {
    color: hsl(0, 0%, 14%);
    background-color: hsl(0, 0%, 100%);
}

.second_sp {
    background-image: url(../img/bgi_1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.second_sp span {
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: 	hsl(0, 0%, 100%);
}
.second_sp h2 {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    color: 	hsl(0, 0%, 100%);
}

.second_sp button {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: 	hsl(0, 0%, 100%);
    width: 175px;
    height: 55px;
    border-style: solid;
    border-color: 	hsl(0, 0%, 100%);
    background-color: transparent;
    margin: 15px 0px;
}

.second_sp button:hover{
    color: hsl(0, 0%, 14%);
    background-color: hsl(0, 0%, 100%);   
}


/* Best choise section */

.best_choise_head span {
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: hsl(359, 67%, 44%);
}

.best_choise_head h2 {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    color: hsl(0, 0%, 14%);

}
.best_choise_head img {
    width: 70px;
    height: 32px;
}
.best_choise_head p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: 	hsl(0, 0%, 31%);
}

.product_article {
    width: 265px;
    height: 450px;
    border-style: solid;
    border-color: hsl(33, 48%, 95%);
}

.product_img {
    width: 225px;
    height: 225px;
}

.product_name a {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: hsl(0, 0%, 45%);
    text-decoration: none;
    font-weight: 400;
}

.product_price {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: hsl(359, 67%, 44%);
    font-weight: 700;
}

.produtc_btn {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: hsl(359, 67%, 44%);
    width: 125px;
    height: 45px;
    border-style: solid;
    border-color: hsl(359, 67%, 44%);
    background-color: transparent;

}

/* About us section */
.about_us {
    background-color: hsl(33, 48%, 95%);

}

.about_us_text span {
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: hsl(359, 67%, 44%);

}

.about_us_text h2 {
    font-family: 'Playfair Display', serif;
    font-size: 56px;
    color: hsl(0, 0%, 14%);

}

.about_us_text img {
    height: 32px;
    width: 120px;
}

.about_us_text p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: 	hsl(0, 0%, 31%);
}

.slide_gallery {
    width: 145px;
    height: 135px;
}

/* Testimonials section */
.testimonials {

}

.testimonials_head {

}

.testimonials_head span {
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: hsl(359, 67%, 44%);
}

.testimonials_head h2 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: hsl(0, 0%, 14%);
}

.testimonials_head p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: 	hsl(0, 0%, 31%);
}

.testimonials_article {
    width: 585px;
    height: 550px;
    background-color: hsl(0, 0%, 100%);

}

.testimonials_article img {
    width: 555px;
    height: 355px;
}

.testimonials_article h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: hsl(359, 67%, 44%);
}

.testimonials_article p {
   font-family: 'Fira Sans', sans-serif;
   font-size: 16px;
   color: hsl(0, 0%, 45%);
}

.testimonials_article em {
   font-family: 'PT Sans', sans-serif;
   font-size: 14px;
   color: 	hsl(0, 0%, 31%);
}

.testimonials_underscore {
    width: 45px;
    height: 3px;
    background-color: hsl(33, 48%, 95%);
}

/* Special offer section */
.special_offer{
    background-image: url(../img/bgi_3.png);
}

.special_offer_text {
    width: 570px;
    height: 510px;
    background-color:   hsl(0, 0%, 100%);
    
}

.special_offer_text span {
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: hsl(359, 67%, 44%);
}

.special_offer_text h2 {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    color: hsl(0, 0%, 14%);
}

.special_offer_text img {
    width: 100px;
    height: 32px;
}

.special_offer_text p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: 	hsl(0, 0%, 31%);
}

.so_buttom_cu {
    width: 125px;
    height: 40px;
    background-color: 	hsl(0, 0%, 100%);
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: hsl(0, 0%, 14%);
    border-style: solid;
    text-decoration: none;
}
/* Shop section */
.shop_head {
    background-color: 	hsl(0, 0%, 100%);
}

.shop_head span {
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;
    color: hsl(359, 67%, 44%);
}

.shop_head h3 {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    color: hsl(0, 0%, 14%);

}

.shop_head img {
    width: 100px;
    height: 32px;
}
.shop_head p { 
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: 	hsl(0, 0%, 31%);
}


.shop_title_btn {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: 	hsl(0, 0%, 31%);
    border: none;
    background-color: transparent;
}

/* About decoration section */
.about_decoration_aside {
    background-image: url(../img/bgi_4.png);
    width: 370px;
    height: 650px;
    color: hsl(0, 0%, 100%);
}

.about_decoration_aside h3 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}


.title_kind {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.signature {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

.about_decoration_article {
    height: 600px;
    width: 385px;
}

.about_decoration_article img {
    width: 355px;
    height: 230px;
}
 
.about_decoration_article .title_kind {
    color: hsl(0, 0%, 45%);
    
}    

.about_decoration_article h4 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: hsl(0, 0%, 14%);
}

.about_decoration_article p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: hsl(0, 0%, 45%);;
}

.about_decoration_article .signature {
    color: hsl(0, 0%, 14%);
}


/* Contact section */
.contact_section{
    background-image: url(../img/bgi_5.png);
    width: 1170px;
    height: 440px;
    color: hsl(0, 0%, 100%);
}

.contact_section span {
    font-family: 'Grand Hotel', cursive;
    font-size: 22px;

}

.contact_section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
}

.contact_section h2 a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.contact_us_btn {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    width: 220px;
    height: 65px;
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 100%);
    border-style: solid;
}


/* FAQ section */
   

/* Gallery */

.gallery_img {
    width: 255px;
    height: 235px;
}

/* Footer */


footer {
    background-color: 	hsl(0, 0%, 14%);
    color: hsl(0, 0%, 100%);
}

.footer_about img {
    width: 110px;
    height: 80px;
}

.footer_about p {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}


.footer_nav h4 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 400;
}

.footer_underscore {
    background-color: hsl(359, 67%, 44%);
    width: 32px;
    height: 2px;

}


.footer_nav ul li {
list-style-type: none;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
}

.footer_nav ul li a {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.footer_nav span a {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.footer_sn .fa {
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-style: none ;
}

.footer_sn .fa-facebook {
    background:hsl(359, 67%, 44%);
    color: hsl(0, 0%, 100%);   
}  

.footer_sn .fa-instagram {
    background:hsl(359, 67%, 44%);
    color: hsl(0, 0%, 100%);   
}   

.footer_sn .fa-youtube {
    background:hsl(359, 67%, 44%);
    color: hsl(0, 0%, 100%);   
}    



/* responsive */

@media (min-width: 761px) {
    /* first section */
    .first_section{
        padding: 110px auto 110px 25px  ;
    }
    .first_section_block{
        max-width: 440px;
    }

    /* Terms of purchase */
    .terms_section {
        background-color: 	hsl(0, 0%, 100%);
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
        margin: 35px 25px;
    }

    /* Special proposals */
    .special_proposals {
        background-color: 	hsl(0, 0%, 100%);
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
        margin: 35px 25px;
    }



}


@media (min-width: 990px) {
    /* Header  */

    .header_top_line {
        height: 45px;
        background-color: hsl(359, 67%, 44%);
        display: flex;
        margin: 0px;
        align-items: center;

    } 

    .header_top_line ul {
        display: flex;
        justify-content: space-around;
        flex: 1;
    }


    .header_top_line ul li {
        list-style-type: none;
        font-family: 'Fira Sans', sans-serif;
        font-size: 16px;
        color: 	hsl(0, 0%, 100%);
        
                       
    }
    
    .header_top_line ul li a {
        color: 	hsl(0, 0%, 100%);
        text-decoration: none;
        
    }

    .header_top_line ul li a:hover {
        color: 	hsl(0, 0%, 100%);
        text-decoration: underline;
    }

    .header_bottom_line{
        display: flex;
        justify-content: space-between;
    }

    .header_nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header_nav ul {
        display: flex;
        justify-content: space-around;
        flex: 1;
    }

    .header_nav ul  li {
        list-style-type: none;
        margin:  auto 20px;
    }

    .header_nav ul  li a {
        text-decoration: none;
        font-family: 'Fira Sans', sans-serif;
        font-size: 16px;
        color: hsl(0, 0%, 14%);
        transition: all 0.5s ease-in;
    }

    .header_nav ul  li a:hover {
        text-decoration: underline;
        color: hsl(359, 67%, 44%);
    }

    .header_sn{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
     
    }

    .fa {
        text-decoration: none;
        width: 30px;
        height: 30px;
        border-style: solid ;
    }

    .fa-facebook {
        background: hsl(0, 0%, 100%);
        color: hsl(0, 0%, 14%);

    }

    .fa-facebook:hover{
        background: hsl(0, 0%, 14%);
        color: hsl(0, 0%, 100%);
    }

    .fa-instagram {
        background: 	hsl(0, 0%, 100%);
        color: hsl(0, 0%, 14%);
    }
    .fa-instagram:hover {
        background: hsl(0, 0%, 14%);
        color: hsl(0, 0%, 100%);
    }

    .fa-youtube {
        background: 	hsl(0, 0%, 100%);
        color: hsl(0, 0%, 14%);
    }

     .fa-youtube:hover {
        background: hsl(0, 0%, 14%);
        color: hsl(0, 0%, 100%); 
     }

     /* first section */

     /* Terms of purchase */
    .terms_section {
        background-color: 	hsl(0, 0%, 100%);
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 35px 25px;
    }

   






  

}  
   
   